<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3 link-list">
        <ul>
          <li class="<% if (pagename === 'home') { %>is-active<% } %>">
            <a href="/posts">
              <%- include('../assets/icons/globe.svg') %> Home
            </a>
          </li>

          <li class="<% if (pagename === 'posts') { %>is-active<% } %>">
            <a href="/posts">
              <%- include('../assets/icons/archive.svg') %> Blog
            </a>
          </li>

          <li class="<% if (pagename === 'pictures') { %>is-active<% } %>">
            <a href="/pictures">
              <%- include('../assets/icons/images.svg') %> Pictures
            </a>
          </li>

          <li class="<% if (pagename === 'about') { %>is-active<% } %>">
            <a href="/about">
              <%- include('../assets/icons/fingerprint.svg') %> About
            </a>
          </li>

          <li class="<% if (pagename === 'skills') { %>is-active<% } %>">
            <a href="/skills">
              <%- include('../assets/icons/tools.svg') %> Skills
            </a>
          </li>

          <li class="<% if (pagename === 'contact') { %>is-active<% } %>">
            <a href="/contact">
              <%- include('../assets/icons/chat.svg') %> Contact
            </a>
          </li>
        </ul>
      </div>

      <div class="column is-6 short-bio">
        <img src="/assets/images/gusche.png">
        <p>
          A short bio here, yeo yep, about this and that which of I dont want
          to think of right now
        </p>
        <p>
          A short bio here, yeo yep, about this and that which of I dont want
          to think of right now
        </p>
      </div>
      
      <div class="column is-3 resource-list">
        <p>
          <a href="https://github.com/mustardamus/akrasia-metalsmith">Handmade</a>
          with love and help by <a href="http://www.metalsmith.io">Metalsmith</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
