<header>
  <nav class="nav">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="/">
          Akrasia - Sebastian Senf
        </a>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a href="/posts" class="nav-item <% if (pagename === 'posts') { %>is-active<% } %>">
          <%- include('../assets/icons/archive.svg') %> Blog
        </a>

        <a href="/pictures" class="nav-item <% if (pagename === 'pictures') { %>is-active<% } %>">
          <%- include('../assets/icons/images.svg') %> Pictures
        </a>

        <a href="/skills" class="nav-item <% if (pagename === 'skills') { %>is-active<% } %>">
          <%- include('../assets/icons/tools.svg') %> Skills
        </a>

        <a href="/contact" class="nav-item <% if (pagename === 'contact') { %>is-active<% } %>">
          <%- include('../assets/icons/chat.svg') %> Contact
        </a>
      </div>
    </div>
  </nav>
</header>
