#contact
  margin-bottom: 0

  .column
    margin-bottom: 0
    padding-bottom: 0

  form
    background: #DCE0E6
    border-radius: 2px
    padding: 20px
    margin-bottom: 0

    input[name="email"], textarea[name="message"]
      font-size: 1.8em
      font-family: 'Lato', sans-serif
      padding: 10px
      height: auto
      border: 3px solid rgba(0, 0, 0, 0.2)
      transition: border 0.4s ease-out

      &:focus
        border: 3px solid #567EBB
    
    textarea[name="message"]
      font-size: 1.2em
      min-height: 320px

    .is-danger
      border: 3px solid #F7803C !important
    
    .control
      margin: 0 0 20px 0

      &:last-child
        margin: 0
    
    .button
      background: #567EBB
      color: white
      font-family: 'Lato', sans-serif
      font-size: 1.8em
      padding: 10px 0
      height: auto
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
      transition: background 0.4s ease-out

      &:hover
        background: #2B4C7E


  .link-list
    padding-top: 32px

    li
      margin-bottom: 50px

      &:last-child
        margin: 0

      a
        position: relative

        .title
          font-family: 'Lancelot', sans-serif
          display: block
          padding: 0 0 8px 48px
          margin: 0
          color: #1F1F20
        
        .desc
          font-family: 'Lato', sans-serif
          display: block
          color: #555
          font-size: 1.1em
          padding-left: 48px
          transition: color 0.4s ease-out
          text-align: justify

        svg
          position: absolute
          top: -3px
          left: 0
          width: 36px
          height: 36px
          fill: #606D80
          transition: fill 0.4s ease-out
        
        &:hover
          svg
            fill: #567EBB
          
          .desc
            color: #1F1F20
