// @import url('https://fonts.googleapis.com/css?family=Lato|Lancelot|Inconsolata')

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lancelot-regular - latin */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lancelot-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lancelot'),
       url('/assets/fonts/lancelot-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lancelot-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lancelot-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lancelot-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lancelot-v6-latin-regular.svg#Lancelot') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inconsolata-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata'),
       url('/assets/fonts/inconsolata-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/inconsolata-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/inconsolata-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/inconsolata-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/inconsolata-v14-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
