.footer
  background: #1F1F20
  outline: 5px solid rgba(255, 255, 255, 0.1)
  font-family: 'Lato', sans-serif
  padding: 80px 0

  a
    color: rgba(255, 255, 255, 0.6) !important
    border: none !important
    transition: color 0.4s ease-out
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)

    &:hover
      text-decoration: none !important
      color: white !important

  .link-list
    li
      &.is-active
        a
          color: rgba(255, 255, 255, 0.2) !important

          svg
            fill: rgba(255, 255, 255, 0.2) !important
      a
        font-size: 1.2em
        padding: 5px 0
        display: block

        svg
          margin-right: 4px

        &:hover
          svg
            fill: white

        svg
          width: 16px
          height: 16px
          fill: rgba(255, 255, 255, 0.4)
          transition: fill 0.4s ease-out
  
  .short-bio
    position: relative

    img
      position: absolute
      top: 10px
      left: -90px
      width: 80px
    
    p
      font-size: 1.2em
      color: white
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
      cursor: default
      text-align: justify
      line-height: 24px
      margin-bottom: 16px
  
  .resource-list
    cursor: default
    
    p
      text-align: justify
      padding-left: 16px
      color: rgba(255, 255, 255, 0.3)
    
    ul
      margin-top: 16px
      
      li
        text-align: right

@media only screen and (max-width: 768px)
  footer
    .link-list
      margin-top: 25px

      li
        a
          text-align: center
          font-size: 1.8em !important

          svg
            width: 20px !important
            height: 20px !important
    
    .short-bio
      display: none
    
    .resource-list
      display: none
