// http://www.colourlovers.com/palette/151113/blue_jay_feather

@import url('https://fonts.googleapis.com/css?family=Lato|Lancelot|Inconsolata')

@import "../../node_modules/bulma/css/bulma.css"
@import "./vendors/atom-one-dark.css"

@import "header"
@import "footer"
@import "pictures"
@import "posts"
@import "post"
@import "contact"
@import "skills"

html, body
  background: linear-gradient(to bottom, rgba(43,76,126,1) 0%,rgba(86,126,187,1) 95%) fixed

.container
  max-width: 960px

  &.banner
    text-align: center
    font-size: 3em
    color: #DCE0E6
    margin-top: 100px
    font-family: 'Lancelot', serif
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
    cursor: default

  &.wrapper
    background: white
    outline: 10px solid rgba(0, 0, 0, 0.1)
    padding: 20px
    margin: 100px auto
    border-radius: 2px
    font-family: 'Lato', sans-serif

@media only screen and (max-width: 768px)
  .container
    &.banner
      font-size: 2em
      margin-top: 30px
      line-height: 30px
    
    &.wrapper
      margin: 30px auto 60px auto

#goto-top-link
  position: fixed
  bottom: 30px
  left: 30px
  width: 50px
  height: 50px
  display: none
  color: rgba(255, 255, 255, 0.2)
  cursor: pointer

  svg
    fill: currentColor
