#pictures
  #sidebar
    position: relative

    #view-toggle
      margin-top: 20px

      .button
        background: #DCE0E6
        border: none
        font-size: 0.9em
        margin-bottom: 5px

        &:hover
          background: #567EBB
          color: white
        
        &.is-active
          background: #2B4C7E
          color: white
    
    #cities-menu
      margin-top: 25px
      padding-top: 20px
      border-top: 2px solid #606D80

      li
        a
          font-size: 1.44em

          &:hover
            background: #567EBB
            color: white
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)

  #cities
    margin: 20px 0

    &.only-pictures
      .city
        margin-bottom: 50px

        .city-title
          position: relative
          cursor: default
          top: 0
          left: 0
          padding: 10px 0
        
        .city-show-all
          display: none
        
        .city-cover
          display: none
        
        .city-pictures
          display: flex

    .city
      position: relative
      margin-bottom: 20px
      
      .city-title, .city-show-all
        position: absolute
        top: 20px
        background: rgba(255, 255, 255, 0.7)
        border-radius: 2px
        cursor: pointer
      
      .city-title
        left: 20px
        padding: 20px 50px
        text-align: center
        transition: all 0.4s ease-out
        transition-property: background, color

        .subtitle
          font-family: 'Lancelot', serif
          font-size: 1.44em
      
      .city-show-all
        right: 20px
        padding: 10px 30px
        transition: all 0.4s ease-out
        transition-property: background, color

        .title-hide
          display: none

      .city-cover
        cursor: pointer

      .city-pictures
        display: none
        margin-top: 10px
      
      &.is-active
        .city-show-all
          .title-show
            display: none
          
          .title-hide
            display: inline

        .city-pictures
          display: flex
      
      &:hover
        .city-title, .city-show-all
          background: #567EBB
          color: white
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
        
        .city-title
          .title, .subtitle
            color: white
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)

#picture-show-modal
  .modal-content
    width: 1000px

@media only screen and (max-width: 768px)
  #pictures
    #sidebar
      display: none
    
    #cities
      .city
        &.is-active
          .city-show-all
            display: none
            
        .city-title
          top: 10px
          left: 10px
          padding: 10px 15px

          .title, .subtitle
            display: inline
          
          .subtitle
            padding-left: 10px
        
        .city-show-all
          right: 10px
          top: auto
          bottom: 10px
