#posts
  position: relative

  #feed-link
    position: absolute
    top: -50px
    right: 0

    a
      svg
        width: 30px
        height: 30px
        fill: rgba(255, 255, 255, 0.6)
        transition: fill 0.4s ease-out
      
      &:hover
        svg
          fill: white

  .post
    margin: 50px 0
    cursor: pointer

    &:first-child
      margin-top: 0
    
    &:last-child
      margin-bottom: 0

    .title
      font-size: 1.68em
      line-height: 26px
      padding-top: 4px

      a
        color: #1F1F20
        transition: color 1s ease-out

        &:hover
          border: none
    
    .excerpt
      color: #555
      font-size: 1.2em
      text-align: justify

      a
        color: inherit

        &:hover
          text-decoration: none

    &:hover
      .date
        background: #567EBB
        color: white
      
      .title
        a
          color: #111
      
      .excerpt
        color: #1F1F20

    .date
      background: #DCE0E6
      color: #1F1F20
      text-align: center
      border-radius: 2px
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1)
      transition: all 0.4s ease-out
      transition-property: background, color

      .day
        font-size: 3em
        font-weight: bold
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.2)
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        font-family: 'Lancelot', serif
      
      .month-year
        border-top: 1px solid rgba(255, 255, 255, 0.1)
        padding: 10px
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2)

@media only screen and (max-width: 768px)
  #posts
    .post
      margin-bottom: 80px

      .date
        padding: 3px 0 3px 14px
        text-align: left

        .day, .month-year
          display: inline
          border: none
        
        .day
          font-size: 1.5em
