#skills
  h2
    font-family: 'Lancelot', serif
    font-size: 3em
  
  .intro
    border-bottom: 3px solid #DCE0E6
    padding-bottom: 20px
    margin-bottom: 50px

    p
      font-size: 1.3em
      margin-bottom: 18px
    
    .tldr
      margin-top: 30px
      background: #DCE0E6
      font-size: 1.1em
      padding: 5px
      border-radius: 2px
  
  p a, li a, h3 a
    border-bottom: 2px solid #2B4C7E
    color: #1F1F20
    padding: 0 3px
    border-radius: 2px
    background: transparent
    transition: all 0.4s ease-out
    transition-property: background color

    &:hover
      background: #567EBB
      color: white
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
  
  .projects
    h3
      font-family: 'Lancelot', serif
      font-size: 2em
