<html>
  <head>
    <title>
      Akrasia -
      <% if (pagename === 'home') { %>
        Sebastian Senf, web-developing digital nomand
      <% } else { %>
        <%= title %>
      <% } %>
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Akrasia - Sebastian Senf, web-developing digital nomand - <%= title %>">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <%- include('../partials/header.html') %>

    <div class="container banner">
      <%- banner %>
    </div>

    <div class="container wrapper">
      <%- contents %>
    </div>
    
    <%- include('../partials/footer.html') %>
  </body>
</html>
