<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Pictures</title>
  </head>
  <body>
    <ul id="cities">
      <% cities.forEach(function (city) { %>
        <li class="city" data-city="<%= city %>" data-country="<%= citiesObj[city].country %>">
          <div class="cover">
            <img src="/<%= covers[city] %>">
          </div>

          <ul class="city-pictures">
            <% citiesObj[city].pictures.forEach(function (picture) { %>
              <li>
                <img src="<%= picture.thumbpath %>">
              </li>
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
