<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Pictures</title>
  </head>
  <body>
    <%- include('../partials/header.html') %>

    <div class="container" id="pictures">
      <div class="columns">
        <div class="column is-2" id="sidebar">
          <div id="view-toggle">
            <a class="button is-active is-fullwidth" id="view-toggle-cities">
              Show all Cities
            </a>

            <a class="button is-fullwidth" id="view-toggle-pictures">
              Show all Pictures
            </a>
          </div>

          <nav class="menu" id="cities-menu">
            <ul class="menu-list">
              <% cities.forEach(function (city) { %>
                <li>
                  <a href="#<%= city %>" class="has-text-right">
                    <%- city %>
                  </a>
                </li>
              <% }) %>
            </ul>
          </nav>

          <div class="goto-top">
            <a href="#top">Goto Top</a>
          </div>
        </div>

        <div class="column">
          <ul id="cities">
            <% cities.forEach(function (city) { %>
              <li class="city" id="<%= city %>">
                <div class="city-title">
                  <h2 class="title"><%= city %></h2>
                  <h3 class="subtitle"><%= citiesObj[city].country %></h3>
                </div>

                <div class="city-show-all">
                  <span class="title-show">Show</span>
                  <span class="title-hide">Hide</span>
                  all <%= citiesObj[city].pictures.length %> Pictures
                </div>

                <div class="city-cover">
                  <img src="/<%= covers[city] %>">
                </div>
                
                <div class="columns is-multiline is-mobile city-pictures">
                  <% citiesObj[city].pictures.forEach(function (picture) { %>
                    <div class="column is-4">
                      <a href="/<%= picture.fullpath %>">
                        <img data-src="/<%= picture.thumbpath %>">
                      </a>
                    </div>
                  <% }) %>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <div class="modal" id="picture-show-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image">
          <img src="/pictures/Hungary/Budapest/100_1231.JPG">
        </p>
      </div>
      <button class="modal-close"></button>
    </div>

    <%- include('../partials/footer.html') %>

    <script src="/js/main.js"></script>
    <script src="/js/pictures.js"></script>
  </body>
</html>
