<html>
  <head>
    <title>Akrasia - Blog</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Akrasia - Sebastian Senf, blog posts about coding, traveling and life">

    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <%- include('../partials/header.html') %>

    <div class="container banner">
      Choose from <b><%= posts.length %></b> posts about Coding, Traveling and Life
    </div>
    
    <div class="container wrapper" id="posts">
      <% posts.forEach(function (post) { %>
        <div class="post columns">
          <div class="column is-2">
            <div class="date">
              <div class="day">
                <%= post.date.split(' ')[0] %>
              </div>

              <div class="month-year">
                <span class="month"><%= post.date.split(' ')[1] %></span>
                <span class="year"><%= post.date.split(' ')[2] %></span>
              </div>
            </div>
          </div>

          <div class="column">
            <h1 class="title">
              <a href="/<%= post.path %>">
                <%= post.title %>
              </a>
            </h1>

            <div class="excerpt">
              <%- post.excerpt %>
            </div>
          </div>
        </div>
      <% }) %>

      <div id="feed-link">
        <a href="/feed.xml">
          <svg version="1.1" id="RSS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
          <path d="M2.4,2.4v2.367c7.086,0,12.83,5.746,12.83,12.832h2.369C17.599,9.205,10.794,2.4,2.4,2.4z M2.4,7.137v2.369
            c4.469,0,8.093,3.623,8.093,8.094h2.368C12.861,11.822,8.177,7.137,2.4,7.137z M4.669,13.059c-1.254,0-2.27,1.018-2.27,2.271
            s1.016,2.27,2.27,2.27s2.269-1.016,2.269-2.27S5.923,13.059,4.669,13.059z"/>
          </svg>
        </a>
      </div>
    </div>

    <%- include('../partials/footer.html') %>

    <script src="/js/main.js"></script>
    <script src="/js/posts.js"></script>
  </body>
</html>
