<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Posts</title>
  </head>
  <body>
    <%- include('../partials/header.html') %>
    
    <div class="container" id="posts">
      <% posts.forEach(function (post) { %>
        <div class="post columns">
          <div class="column is-2">
            <div class="date">
              <div class="day">
                <%= post.date.split(' ')[0] %>
              </div>

              <div class="month-year">
                <span class="month"><%= post.date.split(' ')[1] %></span>
                <span class="year"><%= post.date.split(' ')[2] %></span>
              </div>
            </div>
          </div>

          <div class="column">
            <h1 class="title">
              <a href="/<%= post.path %>">
                <%= post.title %>
              </a>
            </h1>

            <div class="excerpt">
              <%- post.excerpt %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <%- include('../partials/footer.html') %>

    <script src="/js/main.js"></script>
    <script src="/js/posts.js"></script>
  </body>
</html>
